.fa-trash-red{
    color:  #c9190b !important;
}

.fa-trash-red:hover{
    color: #ff7961 !important;
}


.fa-plus-circle{
    color:  #06c !important;
}

.badge{
    background-color:  #06c !important;
}
.fa-plus-circle:hover{
    color: #007080 !important;
}

.grey-plus{
    color: grey !important;
}

hr{
    margin: 20px 0;
}

#form-input{
    margin-left: 100px !important;
}
.table-message{
    color:  #c9190b !important;
    margin-right: 15px;
}

.ruleModal label{
    font-weight:  bold  !important;
}

#install-status{
    margin-left: 5px !important;
    color:  #06c !important;
}

#install-status-icon{
    margin-left: 20px !important;
    color:  #06c !important;
}

#install-error{
    margin-top: 20px !important;
    margin-left: 20px !important;
    color:  #c9190b !important;
}
#install-error a{
    text-decoration: underline;
}

.refresh-anime{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }    


