.fa-trash-red{
    color:  #c9190b !important;
}

.fa-trash-red:hover{
    color: #ff7961 !important;
}


.fa-plus-circle{
    color:  #06c !important;
}

.badge{
    background-color:  #06c !important;
}
.fa-plus-circle:hover{
    color: #007080 !important;
}

.grey-plus{
    color: grey !important;
}

hr{
    margin: 20px 0;
}


.table-message{
    color:  #c9190b !important;
    margin-right: 15px;
}



